@layer utilities {
    .bg-stripes {
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 50%
      );
      background-size: 100px 100%;
    }
  }